$mainBg-color: #0079bf;
$secondBg-color: #0067a3;
$section-color: #ebecf0;
$mainText-color: #ffffff;
$secondText-color: #000000;
$secondText-color-hover: #00000071;
$taskBg-color: #ffffff;
$addBtn-color: #5e6c84;
$addBtn-color-hover: #3f4757;
