.App {
  max-width: 1235px;
  margin: 0 auto;
  background-color: $mainBg-color;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondBg-color;
    padding: 8px 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .title {
      font-family: 'Roboto-Regular';
      font-size: 28px;
      color: $mainText-color;
    }

    @import '../UserBlock/UserBlock.scss';

    @media (max-width: 460px) {
      .title {
        font-size: 20px;
      }
    }
  }

  .kanbanBoard {
    display: flex;
    flex-grow: 1;
    padding: 20px;

    @import '../../pages/Sections/Sections.scss';
    @import '../Section/Section.scss';
    @import '../../pages/Details/Details.scss';

    @media (max-width: 1000px) {
      &__sections {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 700px) {
      &__sections {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 17px 21px;
    background-color: $secondBg-color;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &__item {
      font-family: 'Roboto-Regular';
      font-size: 18px;
      color: $mainText-color;
      max-width: fit-content;
      flex-grow: 1;
      &:first-child {
        margin-right: 35px;
      }
      &:last-child {
        max-width: 100%;
        text-align: end;
      }
    }
    @media (max-width: 700px) {
      & {
        align-items: start;
      }
      &__item {
        font-size: 14px;
        &:first-child {
          margin-right: 15px;
        }
      }
    }

    @media (max-width: 500px) {
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          margin-top: 5px;
        }
      }
    }

    @media (max-width: 390px) {
      & {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        margin-top: 10px;
        &:first-child {
          margin-right: 0;
          margin-top: 0;
        }
      }
    }
  }
}
