&__details {
  background-color: #fff;
  padding: 28px 22px;
  width: 100%;
  border-radius: 5px;

  position: relative;

  .title {
    font-family: 'Roboto-Regular';
    font-size: 24px;
    color: $secondText-color;
    max-width: 620px;
    margin-bottom: 35px;
  }

  .description {
    font-family: 'Roboto-Regular';
    font-size: 18px;
    color: $secondText-color;
    max-width: 620px;
  }

  svg {
    position: absolute;
    top: 28px;
    right: 22px;
    cursor: pointer;
  }
}
