.userBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    img {
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  &__arrow {
    transform: rotate(0deg);
    &-active {
      transform: rotate(180deg);
    }
  }

  &__menu {
    &-active {
      display: block;
      position: absolute;
      width: 135px;
      top: 50px;
      right: 0;
      z-index: 1;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      a {
        display: block;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        color: $secondText-color;
        transition: color ease-in-out 0.2s;
        &:first-child {
          margin-bottom: 11px;
        }
        &:hover {
          color: $secondText-color-hover;
          transition: color ease-in-out 0.2s;
        }
      }
    }
    display: none;
  }
}
